.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-pic {
  height: 40px;
}

.skill-percent {
  vertical-align: middle;
  pointer-events: none;
  opacity: 0;
}

.skill-container:hover .skill-percent {
  opacity: 1;
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prj-img {
  height: 300px;
}

.hire-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hire-me-parts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

