.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-pic {
  height: 40px;
}

.skill-percent {
  vertical-align: middle;
  pointer-events: none;
  opacity: 0;
}

.skill-container:hover .skill-percent {
  opacity: 1;
}

@media (min-width: 2001px) {
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) and (max-width: 2000px) {
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:750px) and (max-width: 999px) {
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 749px) {
  .projects{
    display: grid;
    grid-template-columns: 1fr;
  }
}


.project-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prj-img {
  height: 300px;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.education-container p {
  margin-top: 0;
  opacity: 0.5;
}

.hire-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hire-me-parts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

